# Node
node_modules/
backend/node_modules/

# Python
python-ai-project/venv/
python-ai-project/.env
python-ai-project/__pycache__/

# Environment files
.env
.env.*
backend/.env

# Build
build/
dist/
*.log
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Misc
*.pyc
*.pyo
*.pyd
__pycache__/
